<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="icon" href="/static/wall.ico" type="image/x-icon">
</head>
<body>
    <noscript>
        <h1>This page requires Javascript. Are you sure you have it enabled?</h1>
    </noscript>
    <audio src="/static/playlist.mp3" id="music" autoplay loop></audio>
    <div id="header" class="header">
        <h1>The Wall</h1>
        <p id="rules">Post anything you'd like. No rules. Except don't spam like a certain fucking monkey, or else you get banned.</p>
        <p id="psa">If you'd like to hear the playlist, click or tap anywhere.</p>

        <p id="loading" style="display: none;">Loading...</p>
        <button id="post">Post</button>
    </div>
    <div id="post-gui" class="post">
        <form id="post-form" action="/post" method="POST">
            <textarea name="content" id="content" placeholder="Write your post here..." required></textarea>
            <button type="submit" id="post-button">Post</button>
            <button id="back">Back</button>
        </form>
    </div>
    <div id="error"></div>
    <div id="userposts" style="display: flex; flex-wrap: wrap; gap: 20px;">
    </div>
    <div id="credits" class="credits">
        <p>Created by superhenryman</p>
        <p>Styled by Mah2</p>
        <p style="display: inline;">Powered by </p>
        <img src="/static/python.png" width="25" height="25" alt="python">
    </div>
    <script src="/static/script.js"></script>
</body>
</html>